input[type="checkbox"],input[type="radio"]{display: none;}

label[for ^= "checkbox-"],
input[type="password"],
input[type="text"],
label[for ^= "radio-"],
input[type="submit"],
input[type="radio"] + label[for ^= "radio-"]:before, 
input[type="checkbox"] + label[for ^= "checkbox-"]:before,
.field-style,
.select-style
{
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 4px;
	min-width: 15px;
	min-height: 15px;
	outline: none 0px;
	border: solid 1px rgba(0, 0, 0, 1);
	border-radius: 4px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 0px 4px 2px rgba(192, 192, 192, 0.5);
	color: rgb(0,0,0);
	text-align: justify;
	text-shadow: 0px 1px 1px rgba(192, 192, 192, 0.5);
	font-size: 12px;
	font-family: sans-serif;
	cursor: pointer;
}

input[type="radio"] + label[for ^= "radio-"]:before, 
input[type="checkbox"] + label[for ^= "checkbox-"]:before
{
	overflow: visible;
	margin: 0px 4px 0px 0px;
	padding: 0px;
	width: 5px;
	height: 5px;
	border-radius: 2px;
	box-shadow: inset 0px 0px 4px 2px rgba(192, 192, 192, 0.5);
	content: "";
	vertical-align: middle;
	text-align: center;
	font-size: 1.3em;
}

input[type="radio"] + label[for ^= "radio-"]:before{border-radius: 50%;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover,
input[type="radio"]:checked + label[for ^= "radio-"], 
input[type="checkbox"]:checked + label[for ^= "checkbox-"],
.field-style:focus,
.select-style:focus,
.select-style:focus>option:hover
{
	border: solid 1px rgba(83, 123, 255, 1);
	box-shadow: 0px 0px 4px 2px rgba(83, 123, 255, 0.5);
	text-shadow: 0px 1px 1px rgba(83, 123, 255, 0.5);
	-webkit-transform: scale(1.02,1);
	transform: scale(1.02,1);
}

input[type="radio"]:checked + label[for ^= "radio-"]:before, 
input[type="checkbox"]:checked + label[for ^= "checkbox-"]:before{
	border: solid 1px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 4px 2px rgba(83, 123, 255, 0.5);
	color: rgba(0, 0, 0, 1);
	-webkit-transform: scale(1.02,1);
	transform: scale(1.02,1);
}

input[type="radio"]:checked + label[for ^= "radio-"]:before{content: "\2219";}
input[type="checkbox"]:checked + label[for ^= "checkbox-"]:before{content: "\221a";}


input[type="password"],
input[type="text"],
.select-style
{
	min-width: 180px;
	min-height: 20px;
	max-height: 28px;
	vertical-align: middle;
}

.select-style {
	background-image: url("../image/arrow.png");
	background-position: right;
	background-size: 20px 100%;
	background-repeat: no-repeat;
	text-indent: 0.01px;
	text-overflow: "";
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}