<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = divice-width;"> 
	<title>login</title>
	<meta name="viewport" content="initial-scale = 1.0;">
	<!-- <link rel="stylesheet" href="../style/normalize.css"> -->
	<link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../style/form.css">
</head>
<body>
 
  		  <input class="button-style" type="submit" name="boton" value="Iniciar sesión"/>
  			<br> <br/>
  			 
             <br />

  	</div>
</body>
</html>